.chat {
  &__container {
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
    border: 1px solid #ffffff50;
    border-radius: 5px;
    overflow: hidden;
    height: 600px;
    box-shadow: 0 0 2px 4px #00000050;
    display: flex;
    flex-direction: column;
    color: white;
  }

  &__contents {
    flex: 1;
    background-color: #ffffff10;
  }

  &__msg {
    margin: 0.25rem;
    border: 0.5px solid #555;
    padding: 0.5rem;
    border-radius: 5px;

    &__user {
      font-weight: bold;
      font-size: 0.8rem;
    }

    &__text {}
  }

  &__input-section {
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 2px 0 2px 2px #00000050;


    &__input,
    &__btn {
      height: 100%;
      min-width: 100px;
      outline: none;
      border: none;
      border-radius: 0;
    }

    &__input {
      flex: 1;
      resize: none;
      padding: 0.5rem;
      box-sizing: border-box;
    }

    &__btn {
      background-color: #1976d2;
      transition: 0.2s;

      &:disabled {
        background-color: #333;
        cursor: default;

        >svg {
          filter: invert(0.5);
        }
      }

      &:not(:disabled) {
        &:hover {
          background-color: #004ba0;
        }
      }

      >svg {
        filter: invert(1);
        height: 100%;
        width: 100%;
      }
    }
  }
}